:root {
    --background: #e0e0e0;
    --text: #000;
    --light-text: #fff;
    --primary: #F49D6E;
    --dark-shadow: #bebebe;
    --light-shadow: #fff;
    --dark-gradient: #DB8455;
    --light-gradient: #FFB788;
    --dark-background-gradient: #cacaca;
    --light-background-gradient: #fff;
}
  