/* add css module styles here (optional) */

.card {
  padding: 1rem;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow:  10px 10px 20px #bebebe,
               -10px -10px 20px #ffffff;
  height: 100%;
  background: var(--light);
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.card button{
  margin-top: auto;
}