/* add css module styles here (optional) */

.card {
  padding: 1rem;
  border-radius: .5rem;
  background: #e0e0e0;
  box-shadow:  5px 5px 10px var(--dark-shadow),
               -5px -5px 10px var(--light-shadow);
  height: 100%;
  background: var(--background);
  display: flex;
  flex-direction: column;
}
.card button{
  margin-top: auto;
}