/* add css module styles here (optional) */
.inputGroup{   
    padding: .5em;
    display: flex;
    align-items: flex-end;
    max-width: 30em;
    margin: 0 auto;
    overflow: visible;

}
.inputGroup label{
    display: inline-block;
    margin-right: .5em;
    flex: 1 0 7em;
}
.inputGroup input {
    display: inline-block;
    flex: 50 1 5em;
    padding: .3em;
    align-self: flex-end;
}
.inputGroup input[type=submit]{
  padding: .5rem;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
  background-color: #215173;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
}
.rounded{
  border-radius: 1.5em;
}

